.comment {
    display: flex;
}

.commentContainer {
    flex: 6;
    padding-top: 20px;
    height: 100vh;
    background-color: #f2f7f8;
}

.date {
    width: 200px;
    text-align: left;
}

@media screen and (max-width: 1100px) {
    .thead{
      width: 1100px;
      overflow-x: scroll;
    }
}

// table {
//     font-family: arial, sans-serif;
//     border-collapse: collapse;
//     width: 100%;
//     background-color: aqua;
//   }
  
//   td, th {
//     border: 1px solid #dddddd;
//     text-align: left;
//     padding: 8px;
//   }
  
