.comment {
    display: flex;
}

.commentContainer {
    flex: 6;
    padding-top: 20px;
}

.date {
    width: 200px;
    text-align: left;
}

// table {
//     font-family: arial, sans-serif;
//     border-collapse: collapse;
//     width: 100%;
//     background-color: aqua;
//   }
  
//   td, th {
//     border: 1px solid #dddddd;
//     text-align: left;
//     padding: 8px;
//   }
  
